{% extends 'base.html' %}

{% block styles %}


<link rel="stylesheet" href="../static/styles/form.css">

{% endblock %}

{% block title %}
Pokedex Finder
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}
<img src="https://fontmeme.com/permalink/231110/d43209e3e7b43d7061b99ea30dd53906.png" alt="pokemon-font">
<form method='POST'>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name(class="form-control") }}

        {{ form.search_btn(class="pokeball", placeholder="Please Enter Pokemon Name") }}
        
    </div>
</form>
{% if poke %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Ability</th>
            <th scope="col">HP</th>
            <th scope="col">Attack</th>
            <th scope="col">Defense</th>
            <th scope="col">Front Shiny Sprite</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{ poke.name }}</td>
            <td>{{ poke.ability_name }}</td>
            <td>{{ poke.hp_base_stat }}</td>
            <td>{{ poke.attack_base_stat }}</td>
            <td>{{ poke.defense_base_stat }}</td>
            <td><img src="{{ poke.sprites }}" alt="shiny_sprite"></td>
        </tr>
    </tbody>
</table>

{% endif %}
{% endblock %}