{% extends 'base.html' %}

{% block styles %}

    <!-- <link rel="stylesheet" href="../static/styles/login.css"> -->
  <link rel="stylesheet" href="../static/styles/form.css">

{% endblock %}

{% block title %}
Pokedex Finder
{% endblock %}

{% block content %}
  {% include './includes/nav.html' %}
  <!-- <img src="https://wallpapers.com/images/hd/pokemon-background-17x8jxp3vmf1tef0.jpg" class="psearch" alt=""> -->
    <form method='POST'>  
      {{ form.hidden_tag }}   
        <div class="mb-3">
          <a href=""><img src="https://fontmeme.com/permalink/231110/d43209e3e7b43d7061b99ea30dd53906.png" alt="pokemon-font" ></a>
          <input type="text" placeholder="Enter Pokemon name" class="form-control" id="pkmnLabel" name="pokemon_name">
        </div>

        <button type="submit" class="pokeball"><em></em></button>
    </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Ability</th>
            <th scope="col">HP</th>
            <th scope="col">Attack</th>
            <th scope="col">Defense</th>
            <th scope="col">Front Shiny Sprite</th>
          </tr>
        </thead>
        <tbody>
            {% for pokemon in all_pokemon %}
          <tr>
            <td>{{ pokemon['name'] }}</td>
            <td>{{ pokemon['ability_name'] }}</td>
            <td>{{ pokemon['hp_base_stat'] }}</td>
            <td>{{ pokemon['attack_base_stat'] }}</td>
            <td>{{ pokemon['defense_base_stat'] }}</td>
            <td><img src="{{ pokemon['sprites'] }}" alt="shiny_sprite"></td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}