{% extends 'base.html' %}

{% block styles %}

    <link rel="stylesheet" href="../static/styles/home.css">
    

{% endblock %}

{% block title %}
Poke Test
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}
<a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/231113/6d01c110cbec1cf7a14586a8b2c542c4.png" alt="pokemon-font" border="0"></a>
<img src="https://wallpapers.com/images/hd/pokemon-background-17x8jxp3vmf1tef0.jpg" class="psearch" alt="">

<!-- <a href="https://fontmeme.com/pokemon-font/"><img src="https://fontmeme.com/permalink/231110/17e11629bc1bd4d9ef294877f6a6c775.png" alt="pokemon-font" border="0"></a> -->
<!-- <img src="https://i.pinimg.com/736x/3c/8f/e2/3c8fe2af4745ea79ef3ec3c19867e4e0.jpg" alt="" class="home-bg"> -->
{% endblock %}